In [1]:
import pandas as pd
import db_management as dbm

In [2]:
revolut_df = pd.read_csv('account-statement_2024-01-01_2024-07-14_en-gb_51f812.csv')

In [3]:
revolut_filtered = revolut_df[revolut_df['Type']!='TOPUP']
revolut_filtered['Completed Date'] = pd.to_datetime(revolut_filtered['Completed Date']).dt.date
revolut_filtered = revolut_filtered.drop(columns=['Started Date','Balance','Fee','Currency'])

/var/folders/xt/h83_9z151d39hrq23601bptm0000gn/T/ipykernel_44725/3378233638.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revolut_filtered['Completed Date'] = pd.to_datetime(revolut_filtered['Completed Date']).dt.date

In [4]:
revolut_filtered.head()

       Type  Product Completed Date       Description  Amount      State
1  EXCHANGE  Current     2024-02-28  Exchanged to JPY -606.05  COMPLETED
3  EXCHANGE  Current     2024-04-04  Exchanged to KRW  -50.00  COMPLETED
5  EXCHANGE  Current     2024-04-11  Exchanged to KRW  -60.00  COMPLETED
7  EXCHANGE  Current     2024-04-11  Exchanged to KRW  -60.00  COMPLETED
8  EXCHANGE  Current     2024-04-28  Exchanged to GBP    9.29  COMPLETED

In [5]:
secrets_info = dbm.secrets()

sql_server = dbm.generate_engine(secrets_info)

dbm.sql_ingestion(revolut_filtered,named_table='personal_spending',engine_url=sql_server)

Successfully integrated

In [8]:
dbm.create_query(engine=sql_server,query="""
                 SELECT * from personal_spending limit 40; """)

,Type,Product,Completed Date,Description,Amount,State
0,EXCHANGE,Current,2024-02-28,Exchanged to JPY,-606.05,COMPLETED
1,EXCHANGE,Current,2024-04-04,Exchanged to KRW,-50.00,COMPLETED
2,EXCHANGE,Current,2024-04-11,Exchanged to KRW,-60.00,COMPLETED
3,EXCHANGE,Current,2024-04-11,Exchanged to KRW,-60.00,COMPLETED
4,EXCHANGE,Current,2024-04-28,Exchanged to GBP,9.29,COMPLETED
5,FEE,Current,2024-04-29,Card Delivery Fee,-4.99,COMPLETED
6,CARD_PAYMENT,Current,2024-04-29,Marks & Spencer,-2.73,COMPLETED
7,CARD_PAYMENT,Current,2024-05-02,Amazon,-1.30,COMPLETED
8,CARD_PAYMENT,Current,2024-05-03,Amazon,-30.98,COMPLETED
9,CARD_PAYMENT,Current,2024-05-07,Amazon,-35.47,COMPLETED
10,CARD_PAYMENT,Current,2024-05-08,Wasabi Sushi & Bento,-17.90,COMPLETED
11,CARD_PAYMENT,Current,2024-05-08,Amazon,-19.99,COMPLETED
12,CARD_REFUND,Current,None,Amazon,24.99,REVERTED
13,CARD_PAYMENT,Current,2024-05-12,Freemasons Arms,-6.15,COMPLETED
14,CARD_PAYMENT,Current,2024-05-12,Freemasons Arms,-6.15,COMPLETED
15,CARD_PAYMENT,Current,2024-05-12,Marks & Spencer,-15.15,COMPLETED
16,CARD_REFUND,Current,2024-05-12,Amazon,24.99,COMPLETED
17,CARD_PAYMENT,Current,2024-05-16,Amazon,-6.36,COMPLETED
18,CARD_PAYMENT,Current,2024-05-18,Thames River Sightseeing,-94.80,COMPLETED
19,TRANSFER,Current,2024-05-18,To Saif Askarillah Widyatmoko,-46.00,COMPLETED
20,CARD_PAYMENT,Current,2024-05-19,Amazon,-7.99,COMPLETED
21,CARD_PAYMENT,Current,2024-05-19,UNIQLO,-19.90,COMPLETED
22,CARD_PAYMENT,Current,2024-05-19,Transport for London,-6.00,COMPLETED
23,TRANSFER,Current,2024-05-22,To Saif Askarillah Widyatmoko,-12.33,COMPLETED
24,CARD_PAYMENT,Current,2024-05-28,Marks & Spencer,-2.30,COMPLETED
25,CARD_PAYMENT,Current,2024-05-30,Barburrito Nottingham,-10.70,COMPLETED
26,CARD_PAYMENT,Current,2024-06-02,Creme London,-5.00,COMPLETED
27,CARD_PAYMENT,Current,2024-06-04,Joe & the Juice,-9.10,COMPLETED
28,CARD_PAYMENT,Current,2024-06-04,Bermondsey Local Ticket,-6.63,COMPLETED
29,CARD_PAYMENT,Current,2024-06-05,Amazon,-47.47,COMPLETED
30,CARD_PAYMENT,Current,2024-06-09,Ace Fx,-131.12,COMPLETED
31,CARD_PAYMENT,Current,2024-06-09,Ole & Steen,-9.60,COMPLETED
32,CARD_PAYMENT,Current,2024-06-10,Vision Direct,-31.96,COMPLETED
33,EXCHANGE,Current,2024-06-11,Exchanged to EUR,-46.12,COMPLETED
34,EXCHANGE,Current,2024-06-18,Exchanged to GBP,18.89,COMPLETED
35,EXCHANGE,Current,2024-06-18,Exchanged to EUR,-4.24,COMPLETED
36,EXCHANGE,Current,2024-06-18,Exchanged to GBP,4.21,COMPLETED
37,EXCHANGE,Current,2024-06-18,Exchanged to EUR,-18.86,COMPLETED
38,EXCHANGE,Current,2024-06-18,Exchanged to GBP,8.23,COMPLETED
39,TRANSFER,Current,2024-06-25,To HYE IN KIM,-0.88,COMPLETED